.list-item {
    display: flex;
    margin-top: .5em;
    cursor: pointer;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2196f3;
    border-color: #2196f3;
}
.list-item:hover {
    background: #fff;
    color: #1976d2;
    border-color: #1976d2;
}

.list-item:active {
    box-shadow: inset 0 1px 3px rgba(0,0,0,.12);
}
